<!doctype html>
<html lang="en">
<head>
    <title>Index Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <h1>Welcome to the Farm Management System!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <form method="POST" action="farmselectionaction">
            <p>
                Farms
            </p>
            <select name="farmselect" size="15" multiple>
                <!--OPTIONS FOR FARM POPULATE HERE-->
                {% for item in farms %}
                    <option name="farm_{{ item.name }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <br>
            <a class="btn btn-default" role="button" href="farmadd">Add</a>&nbsp
            <button class="btn btn-default" name="farmremove" type="submit">Remove</button>&nbsp
            <button class="btn btn-default" name="farmedit" type="submit">Edit</button>&nbsp
            <button class="btn btn-default" name="farmupdate" type="button">Update</button>
        </form>
    </div>
    <div class="col-md-4">
        <form method="POST" action="fieldselectionaction">
            <p>
                Fields
            </p>
            <select name="fieldselect" size="15" multiple>
                <!--OPTIONS FOR FIELD POPULATE HERE-->
                {% for item in fields %}
                    <option name="field_{{ item.name }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <br>
            <a class="btn btn-default" role="button" href="fieldadd">Add</a>&nbsp
            <button class="btn btn-default" name="fieldremove" type="submit">Remove</button>&nbsp
            <button class="btn btn-default" name="fieldedit" type="submit">Edit</button>&nbsp
            <button class="btn btn-default" name="fieldupdate" type="button">Update</button>
        </form></div>
    <div class="col-md-4">
        <form method="POST" action="blockselectionaction">
            <p>
                Blocks
            </p>
            <select name="blockselect" size="15" multiple>
                <!--OPTIONS FOR BLOCK POPULATE HERE-->
                {% for item in blocks %}
                    <option name="block_{{ item.name }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <br>
            <a class="btn btn-default" href="blockadd" role="button">Add</a>&nbsp
            <button class="btn btn-default" name="blockremove" type="submit">Remove</button>&nbsp
            <button class="btn btn-default" name="blockedit" type="submit">Edit</button>&nbsp
            <button class="btn btn-default" name="blockupdate" type="button">Update</button>
        </form></div>
</div>
<br><br>
<div class="row">
    <div class="col-md-1"></div><div class="col-md-11">
    <a class="btn btn-default" href="cropadd" role="button">Add a new Crop</a><br>
    <a class="btn btn-default" href="cropswap" role="button">Set up a Crop Swap</a>
</div></div>
</body>
</html>